#drupal_tabs {
	margin-bottom: 20px;
}

.hidden {
	display: none;
}

.md-slide-wrap {
	margin-top: 20px;
	margin-bottom: 45px;
}

.search-wrapper input[type="text"] {
  height: 20px;
}

.search-wrapper .submit-search input[type="submit"] {
  display: none;
}

.portfolio-controls {
	margin-top: -125px;
	position: absolute;
	right: 10px;
}

.contextual-links-region { 
  overflow: auto;
}

.entry-meta span {
  font-size: 11px;
  color: #b2b2b2;
}

.author span {
	float: none;
	display: inline;
	margin-right: 0px;
}

.comment-date {
	margin-right: 10px;
  color: #b2b2b2;
  font-size: 11px;
}

.indented {
  margin-left: 70px;
}

.comments-content-wrap {
	margin-top: 10px;
  margin-bottom: 40px;
  overflow: hidden;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ebebeb;
}

.comments-list {
	border-bottom: none;
	margin-bottom: 0px;
}

.comments-list .comment:first-child {
  border-top-width: 1px;
}

#comments:first-child {
	display: none;
}