.hidden {
	display: none;
}

.md-slide-wrap {
	margin-top: 20px;
	margin-bottom: 45px;
}

.search-wrapper input[type="text"] {
  height: 20px;
}

.search-wrapper .submit-search input[type="submit"] {
  display: none;
}

.portfolio-controls {
	margin-top: -125px;
	position: absolute;
	right: 10px;
}

.contextual-links-region { 
  overflow: auto;
}

.author span {
	float: none;
	display: inline;
	margin-right: 0px;
}